@mixin form {
        width: 404px;
        height: 40px;
        margin-bottom: 12px;
        border: 1px solid$grey ;


}


@mixin text-form {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 14.63px;
        color: #000;
        padding-left: 10px;
        font-style: normal;
}

@mixin check {
        input[ type=checkbox] {
                display: none;
        }