.product {

    background-image: url(../img/yellow_line.png);
    background-repeat: repeat-x;
    background-position: 0 260px;
    margin-bottom: 125px;
    position: relative;

    .row {

        .product__title {
            margin-left: 117px;

            h2 {
                font-size: 40px;
                line-height: 60px;
                font-family: 'Poppins', sans-serif;
                color: $white;
            }
        }

        .product__itemes {
            display: flex;
            margin-left: 118px;
            box-sizing: border-box;
            padding-bottom: 70px;

            .product__item {
                width: 399px;
                height: 499px;
                background-color: $white;
                margin-right: 11px;

                &_icon {
                    margin: 39px 0 16px 39px;
                }

                &_img {}

                &_title {
                    margin: 0 0 36px 40px;

                    h2 {
                        font-size: 20px;
                        line-height: 30px;
                        font-family: 'Poppins', sans-serif;
                    }
                }

                &_description {
                    font-size: 14px;
                    line-height: 21px;
                    font-family: 'Poppins', sans-serif;
                    padding: 0 39px 31px 41px;

                    p {
                        font-size: 14px;
                        line-height: 21px;
                        font-family: 'Poppins', sans-serif;
                        height: 84px;
                    }
                }

                &_link {
                    width: 202px;
                    height: 52px;
                    margin: 0 0 44px 39px;
                    background-color: $black;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    a {
                        text-decoration: none;
                        text-transform: uppercase;
                        font-size: 14px;
                        line-height: 21px;
                        font-family: 'Poppins', sans-serif;
                        color: $white;
                    }
                }

            }

        }

    }
}

.product::before {
    content: "";
    background-image: url(../img/Graphic\ grey.png);
    width: 423px;
    height: 423px;
    position: absolute;
    transform: rotate(180deg);
    top: 100px;
    
}