   table {
      border-spacing: 0px;
      border-collapse: collapse;
      border: 1px solid #fff;
      width: 1500px;
      height: 300px;
      

   }

   th,
   tr,
   td {
      border: 1px solid#fff;
      text-align: center;

   }

   th {
      background: blue;
      color: #fff;
   }

   tr:nth-child(2n+1) {
      background: #9cced6;
   }

   tr:nth-child(2n) {
      background: #cce4e8;
   }