.block{
    width: 100px;
    height: 100px;
    
  
}
#color{
    margin-right: 30px;
}
.control{
    height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
    
}

