@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Love+Ya+Like+A+Sister&family=Marck+Script&family=Meddon&family=Merriweather:wght@700&family=Mystery+Quest&family=Open+Sans:ital,wght@0,300;1,300&family=Playfair+Display&family=Roboto:wght@400;900&family=Splash&display=swap');












.main-menu > ul > li:hover > ul{
    display: block;
}

.main-menu > ul > li > ul > li > a{
    color:#673f35;
    text-decoration: none;
    font-family: Roboto;
    font-weight: bold;
    font-size: 18px;
    
}

.main-menu > ul > li > ul > li + li{
    margin-top: 10px;
}

.main-menu > ul>li:hover >ul{
    border-left: 3px solid #ce3a31; 
}

.main-menu > ul > li > a:hover{
    color: #d73232;    
}
    






