.header{
    width: 1295px;
    height: 90px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;

            >div{
                height: 90px;
                display: flex;
                align-items: center;

            }    

            &__logo{
                width: 189px;
                height: 55px;
                padding: 18px 36px;
                border-left: 1px solid grey;
            }

            &__phone{
                padding: 0px 30px;
                border-left: 1px solid grey;

                a{
                    text-decoration: none;
                    color: $black;
                    font-family: "Gilroy";
                    font-size: 16px;
                }
                
            }

            &__salon{
                padding: 0px 30px;
                border-left: 1px solid grey;
              
                a{
                    text-decoration: none;
                    color: $black;
                    font-size: 16px;
                    line-height: 19px;
                    display: flex;

                    .arrow-down{
                        margin-left: 15px;
                        display:block;
                        height: 20px;
                        width: 20px;
                        background-image: url(../img/arrow.png);
                    }
                }
                
                
            }

            &__special{
                padding: 0px 30px;
                border-left: 1px solid grey;


                a{
                   
                    color: $white;
                    background-color: $blue;
                    text-decoration: none;
                    text-transform: uppercase;

                    .eye{
                        display: block;
                        width: 26px;
                        height: 22px;
                        background-image: url(../img/simple-line-icons_eye.png);
                    }
                }

            &__socials{
                display: flex;
            }    
            }

            




}

