.container {
  margin: 0;
}

@media (min-width: 440px) {
  .container {
    width: 440px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}
@media (min-width: 1920px) {
  .container {
    width: 1920px;
  }
}
html,
body {
  font-family: "Mulish", sans-serif;
}
html h1,
body h1 {
  font-size: 80px;
}
html h2,
body h2 {
  font-size: 40px;
}
html h3,
body h3 {
  font-size: 24px;
}

.container {
  box-sizing: border-box;
}
.container .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1280px) {
  .container .row {
    width: 1280px;
    margin-bottom: 80px;
  }
}
@media (min-width: 1920px) {
  .container .row {
    width: 1920px;
  }
}
.container .row .logo {
  background-image: url(../img/logo_header.png);
  width: 200px;
  height: 45px;
  background-size: cover;
}
@media (min-width: 440px) {
  .container .row .logo {
    width: 180px;
    height: 40px;
    margin: 30px 0 30px 20px;
  }
}
@media (min-width: 768px) {
  .container .row .logo {
    margin: 30px 0px 30px 37px;
  }
}
@media (min-width: 1280px) {
  .container .row .logo {
    margin: 50px 100px 50px 50px;
    width: 180px;
    height: 40px;
  }
}
@media (min-width: 1920px) {
  .container .row .logo {
    width: 200px;
    height: 45px;
    background-size: cover;
    margin: 47px 202px 48px 70px;
  }
}
.container .row .gamburger {
  display: none;
  margin: 32.5px 20px 32.5px 150px;
}
.container .row .gamburger a {
  width: 26.25px;
  height: 20.42px;
  background-size: cover;
  margin: 32.5px 20px 0px;
}
@media (min-width: 440px) {
  .container .row .gamburger {
    display: block;
  }
}
@media (min-width: 768px) {
  .container .row .gamburger {
    margin: 0 20px 0 453px;
  }
}
@media (min-width: 1280px) {
  .container .row .gamburger {
    display: none;
  }
}
@media (min-width: 440px) {
  .container .row .inform {
    display: none;
  }
}
@media (min-width: 1280px) {
  .container .row .inform {
    display: block;
  }
}
@media (min-width: 1920px) {
  .container .row .inform {
    margin: 58px 0 57px 0;
  }
}
.container .row .inform ul {
  display: flex;
  list-style: none;
}
@media (min-width: 1280px) {
  .container .row .inform ul {
    padding: 0;
  }
}
.container .row .inform ul li a {
  text-decoration: none;
  color: #000;
}
@media (min-width: 1280px) {
  .container .row .inform ul li a {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    padding-right: 36px;
  }
}
@media (min-width: 1920px) {
  .container .row .inform ul li a {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    padding-right: 50px;
  }
}
.container .row .inform ul li a:hover {
  color: #F6523C;
}
.container .row .row__language {
  display: flex;
  align-items: center;
}
@media (min-width: 440px) {
  .container .row .row__language .language {
    display: none;
  }
}
@media (min-width: 1280px) {
  .container .row .row__language .language {
    display: block;
    margin-right: 35px;
  }
}
@media (min-width: 1920px) {
  .container .row .row__language .language {
    margin: 58px 35px 58px 0;
  }
}
.container .row .row__language .language ul {
  display: flex;
  list-style: none;
}
.container .row .row__language .language ul li a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 0.1;
  text-transform: uppercase;
  color: #000;
}
.container .row .row__language .language ul li a:hover {
  color: #F6523C;
  text-decoration: underline;
}
.container .row .row__language .language ul .language__en {
  border-right: 2px solid #000;
  padding-right: 5px;
}
.container .row .row__language .language ul .language__ru {
  padding-left: 5px;
  text-decoration: underline;
}
.container .row .row__language .btn_contact {
  margin: 37px 70px 36px 0;
}
@media (min-width: 440px) {
  .container .row .row__language .btn_contact {
    display: none;
  }
}
@media (min-width: 1280px) {
  .container .row .row__language .btn_contact {
    display: block;
  }
}
.container .row .row__language .btn_contact p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin: 0;
}
.container .row .row__language .btn_contact p button {
  width: 240px;
  height: 67px;
  border: 0px;
  background-color: #F6523C;
  color: #FFFFFF;
  cursor: pointer;
}

.content {
  box-sizing: border-box;
  color: #000;
}
@media (min-width: 440px) {
  .content {
    width: 440px;
  }
}
@media (min-width: 768px) {
  .content {
    width: 768px;
  }
}
@media (min-width: 1280px) {
  .content {
    width: 1280px;
  }
}
@media (min-width: 1920px) {
  .content {
    width: 1920px;
  }
}
@media (min-width: 440px) {
  .content .slogan {
    margin-left: 20px;
  }
}
@media (min-width: 768px) {
  .content .slogan {
    margin-left: 32px;
    width: 555px;
  }
}
@media (min-width: 1280px) {
  .content .slogan {
    margin: 0 0 0 50px;
    width: 100%;
  }
}
@media (min-width: 1920px) {
  .content .slogan {
    margin: 0 0 40px 70.5px;
  }
}
.content .slogan h1 {
  font-style: normal;
  line-height: 120%;
  margin-bottom: 40px;
  font-weight: 800;
}
@media (min-width: 440px) {
  .content .slogan h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 150%;
  }
}
@media (min-width: 768px) {
  .content .slogan h1 {
    list-style: 130%;
    margin-bottom: 19.85px;
  }
}
@media (min-width: 1280px) {
  .content .slogan h1 {
    font-weight: 800;
    font-size: 80px;
    line-height: 120%;
    margin: 0;
  }
}
.content .content-row {
  display: flex;
}
@media (min-width: 440px) {
  .content .content-row .subtitle {
    margin-left: 20px;
  }
}
@media (min-width: 768px) {
  .content .content-row .subtitle {
    margin: 0 34px 84.42px 34px;
  }
}
@media (min-width: 1280px) {
  .content .content-row .subtitle {
    margin: 0 0 160px 50px;
  }
}
@media (min-width: 1920px) {
  .content .content-row .subtitle {
    margin-left: 70px;
  }
}
@media (min-width: 440px) {
  .content .content-row .subtitle__text {
    padding-bottom: 50px;
  }
}
@media (min-width: 768px) {
  .content .content-row .subtitle__text {
    padding-bottom: 49.62px;
  }
}
@media (min-width: 1280px) {
  .content .content-row .subtitle__text {
    padding-bottom: 100px;
  }
}
.content .content-row .subtitle__text p {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 160%;
}
@media (min-width: 440px) {
  .content .content-row .subtitle__text p {
    font-size: 16px;
    padding-right: 50px;
  }
}
@media (min-width: 1280px) {
  .content .content-row .subtitle__text p {
    padding-right: 410px;
    font-size: 20px;
  }
}
@media (min-width: 1920px) {
  .content .content-row .subtitle__text p {
    padding-right: 180px;
  }
}
.content .content-row .subtitle .subtitle__tabs {
  display: flex;
  justify-content: flex-start;
}
@media (min-width: 440px) {
  .content .content-row .subtitle .subtitle__tabs {
    flex-direction: column;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .content .content-row .subtitle .subtitle__tabs {
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .content .content-row .subtitle .subtitle__tabs {
    height: auto;
  }
}
@media (min-width: 768px) {
  .content .content-row .subtitle .subtitle__tabs .subtitle__row {
    margin-right: 37px;
  }
}
@media (min-width: 1280px) {
  .content .content-row .subtitle .subtitle__tabs .subtitle__row {
    margin-right: 135px;
  }
}
.content .content-row .subtitle .subtitle__tabs ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  padding: 0;
}
@media (min-width: 768px) {
  .content .content-row .subtitle .subtitle__tabs ul {
    margin: 0;
    width: 185px;
    position: relative;
    top: 0;
  }
}
.content .content-row .subtitle .subtitle__tabs ul li {
  margin-bottom: 33px;
}
@media (min-width: 440px) {
  .content .content-row .subtitle .subtitle__tabs ul li:first-child {
    position: absolute;
    bottom: 369px;
    width: 200px;
  }
}
.content .content-row .subtitle .subtitle__tabs ul li:first-child {
  position: relative;
  bottom: 0;
}
.content .content-row .subtitle .subtitle__tabs ul li a {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
  color: #000;
}
.content .content-row .subtitle .subtitle__tabs ul li a:hover {
  color: #F6523C;
}
.content .content-row .subtitle .subtitle__content {
  width: 480px;
  border-left: 2px solid #000;
}
@media (min-width: 768px) {
  .content .content-row .subtitle .subtitle__content {
    width: 438px;
    height: 230px;
  }
}
.content .content-row .subtitle .subtitle__content .subtitle__content_row {
  padding-left: 42px;
}
.content .content-row .subtitle .subtitle__content .subtitle__content_row .subtitle__icon {
  background-image: url(../img/icon_header.png);
  background-size: cover;
  width: 103px;
  height: 73px;
  margin-bottom: 30px;
}
.content .content-row .subtitle .subtitle__content .subtitle__content_row .subtitle__content_text {
  margin-bottom: 15px;
}
@media (min-width: 440px) {
  .content .content-row .subtitle .subtitle__content .subtitle__content_row .subtitle__content_text {
    display: none;
  }
}
@media (min-width: 768px) {
  .content .content-row .subtitle .subtitle__content .subtitle__content_row .subtitle__content_text {
    display: block;
  }
}
.content .content-row .subtitle .subtitle__content .subtitle__content_row .subtitle__content_text h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000;
  margin: 0;
}
.content .content-row .subtitle .subtitle__content .subtitle__content_row .subtitle__desc p {
  margin: 0;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #000;
}
@media (min-width: 440px) {
  .content .content-row .subtitle .subtitle__content .subtitle__content_row .subtitle__desc p {
    padding-right: 60px;
  }
}
@media (min-width: 768px) {
  .content .content-row .subtitle .subtitle__content .subtitle__content_row .subtitle__desc p {
    padding: 0;
  }
}
.content .image {
  margin-right: 70px;
  margin-bottom: 70px;
}
@media (min-width: 440px) {
  .content .image {
    display: none;
  }
}
@media (min-width: 1920px) {
  .content .image {
    display: block;
  }
}

.block {
  background-color: #000;
  color: #FFFFFF;
  box-sizing: border-box;
}
@media (min-width: 440px) {
  .block {
    width: 440px;
  }
}
@media (min-width: 768px) {
  .block {
    width: 768px;
  }
}
@media (min-width: 1280px) {
  .block {
    width: 1280px;
  }
}
@media (min-width: 1920px) {
  .block {
    width: 1920px;
  }
}
@media (min-width: 440px) {
  .block .container .block__title {
    padding: 80px 20px 60px 20px;
    margin: 0;
  }
}
@media (min-width: 768px) {
  .block .container .block__title {
    padding: 79.4px 34px 86.48px 34px;
  }
}
@media (min-width: 1280px) {
  .block .container .block__title {
    padding: 160px 50px px;
  }
}
@media (min-width: 1920px) {
  .block .container .block__title {
    padding: 220px 0 160px 70px;
  }
}
.block .container .block__title h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 160%;
}
@media (min-width: 440px) {
  .block .container .block__title h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
  }
}
@media (min-width: 1280px) {
  .block .container .block__title h2 {
    font-size: 40px;
    margin: 0;
  }
}
@media (min-width: 440px) {
  .block .container .block__inform {
    margin-left: 20px;
    padding-bottom: 80px;
  }
}
@media (min-width: 768px) {
  .block .container .block__inform {
    margin: 0;
    padding: 0 34px 0px 34px;
  }
}
@media (min-width: 1280px) {
  .block .container .block__inform {
    padding: 0 50px 101px 50px;
  }
}
@media (min-width: 1920px) {
  .block .container .block__inform {
    padding: 0 190px 220px 70px;
  }
}
.block .container .block__inform .block__row {
  display: flex;
}
@media (min-width: 440px) {
  .block .container .block__inform .block__row {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .block .container .block__inform .block__row {
    flex-direction: row;
  }
}
.block .container .block__inform .block__row h3 {
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .block .container .block__inform .block__row h3 {
    font-size: 18px;
  }
}
@media (min-width: 1280px) {
  .block .container .block__inform .block__row h3 {
    margin: 0;
    font-size: 24px;
  }
}
.block .container .block__inform p {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}
@media (min-width: 440px) {
  .block .container .block__inform p {
    font-size: 16px;
    margin: 0;
  }
}
.block .container .block__inform .communication__title,
.block .container .block__inform .individuality__title,
.block .container .block__inform .speed__title {
  margin-bottom: 20px;
}
.block .container .block__inform .communication__icon,
.block .container .block__inform .individuality__icon,
.block .container .block__inform .speed__icon {
  width: 40px;
  height: 40px;
  margin-bottom: 30px;
}
.block .container .block__inform .communications, .block .container .block__inform .individuality {
  width: 33.333333%;
}
@media (min-width: 440px) {
  .block .container .block__inform .communications, .block .container .block__inform .individuality {
    width: 100%;
  }
}
@media (min-width: 760px) {
  .block .container .block__inform .communications, .block .container .block__inform .individuality {
    margin-right: 20px;
  }
}
@media (min-width: 1280px) {
  .block .container .block__inform .communications, .block .container .block__inform .individuality {
    margin-right: 50px;
  }
}
@media (min-width: 1920px) {
  .block .container .block__inform .communications, .block .container .block__inform .individuality {
    margin-right: 160px;
  }
}
.block .container .block__inform .communications .communication__icon, .block .container .block__inform .individuality .communication__icon {
  background-image: url(../img/communication.png);
}
.block .container .block__inform .communications .communication__subtitle p, .block .container .block__inform .individuality .communication__subtitle p {
  padding-right: 130px;
}
@media (min-width: 440px) {
  .block .container .block__inform .communications .communication__subtitle p, .block .container .block__inform .individuality .communication__subtitle p {
    padding-right: 20px;
    margin-bottom: 60px;
  }
}
@media (min-width: 1280px) {
  .block .container .block__inform .communications .communication__subtitle p, .block .container .block__inform .individuality .communication__subtitle p {
    font-size: 20px;
    padding: 0px;
  }
}
.block .container .block__inform .individuality .individuality__icon {
  background-image: url(../img/Individuality.png);
}
@media (min-width: 440px) {
  .block .container .block__inform .individuality .individuality__subtitle p {
    padding-right: 20px;
    margin-bottom: 60px;
  }
}
@media (min-width: 1280px) {
  .block .container .block__inform .individuality .individuality__subtitle p {
    font-size: 20px;
    padding: 0px;
  }
}
.block .container .block__inform .speed {
  width: 33.333333%;
}
@media (min-width: 440px) {
  .block .container .block__inform .speed {
    width: 100%;
  }
}
.block .container .block__inform .speed .speed__icon {
  background-image: url(../img/Speed.png);
}
.block .container .block__inform .speed .speed__subtitle p {
  padding-right: 150px;
}
@media (min-width: 440px) {
  .block .container .block__inform .speed .speed__subtitle p {
    padding-right: 20px;
  }
}
@media (min-width: 1280px) {
  .block .container .block__inform .speed .speed__subtitle p {
    font-size: 20px;
    padding-right: 10px;
  }
}

@media (min-width: 440px) {
  .our-works {
    padding-top: 80px;
  }
}
@media (min-width: 768px) {
  .our-works {
    width: 768px;
  }
}
@media (min-width: 1280px) {
  .our-works {
    width: 1280px;
    padding: 0;
    margin-bottom: 160px;
  }
}
@media (min-width: 1920px) {
  .our-works {
    width: 1920px;
    padding: 0;
  }
}
.our-works .container .our-works__row {
  display: flex;
}
@media (min-width: 440px) {
  .our-works .container .our-works__row {
    flex-direction: column;
    margin: 0 20px;
  }
}
@media (min-width: 768px) {
  .our-works .container .our-works__row {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 34px;
  }
}
@media (min-width: 1280px) {
  .our-works .container .our-works__row {
    margin: 160px 50px;
  }
}
@media (min-width: 1920px) {
  .our-works .container .our-works__row {
    margin: 160px 70px;
  }
}
@media (min-width: 440px) {
  .our-works .container .our-works__row .works {
    width: 100%;
    margin: 0;
    padding-bottom: 60px;
  }
}
@media (min-width: 1280px) {
  .our-works .container .our-works__row .works {
    width: 340px;
    padding: 0;
    margin-right: 80px;
  }
}
@media (min-width: 1920px) {
  .our-works .container .our-works__row .works {
    width: 413px;
    margin-right: 97px;
  }
}
.our-works .container .our-works__row .works .works__title {
  margin-bottom: 30px;
}
@media (min-width: 440px) {
  .our-works .container .our-works__row .works .works__title {
    margin-bottom: 15px;
  }
}
@media (min-width: 1280px) {
  .our-works .container .our-works__row .works .works__title {
    margin-bottom: 30px;
  }
}
.our-works .container .our-works__row .works .works__title h2 {
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #000;
  margin: 0;
}
@media (min-width: 440px) {
  .our-works .container .our-works__row .works .works__title h2 {
    font-size: 24px;
  }
}
@media (min-width: 1280px) {
  .our-works .container .our-works__row .works .works__title h2 {
    font-size: 40px;
  }
}
.our-works .container .our-works__row .works .works__title span {
  color: #F6523C;
}
.our-works .container .our-works__row .works .works__text {
  margin-bottom: 30px;
}
@media (min-width: 440px) {
  .our-works .container .our-works__row .works .works__text {
    margin-bottom: 15px;
  }
}
@media (min-width: 1280px) {
  .our-works .container .our-works__row .works .works__text {
    margin-bottom: 30px;
  }
}
.our-works .container .our-works__row .works .works__text p {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #000000;
  padding-right: 20px;
}
@media (min-width: 440px) {
  .our-works .container .our-works__row .works .works__text p {
    font-size: 18px;
  }
}
@media (min-width: 760px) {
  .our-works .container .our-works__row .works .works__text p {
    padding: 0 270px 0px 0;
    margin: 0;
  }
}
@media (min-width: 1280px) {
  .our-works .container .our-works__row .works .works__text p {
    font-size: 24px;
    padding: 0;
  }
}
.our-works .container .our-works__row .works .works__btn button {
  height: 66px;
  width: 291px;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.01em;
  position: relative;
  text-align: start;
  padding-left: 40px;
  cursor: pointer;
  background-color: #FFFFFF;
}
@media (min-width: 440px) {
  .our-works .container .our-works__row .works .works__btn button {
    width: 238px;
    height: 61px;
    font-size: 16px;
  }
}
@media (min-width: 1280px) {
  .our-works .container .our-works__row .works .works__btn button {
    width: 297px;
    height: 67px;
    font-size: 20px;
  }
}
@media (min-width: 1920px) {
  .our-works .container .our-works__row .works .works__btn button {
    width: 291px;
  }
}
.our-works .container .our-works__row .works .works__btn button:hover {
  color: #FFFFFF;
  background-color: #F6523C;
  border: 1px solid #F6523C;
}
.our-works .container .our-works__row .works .works__btn button img {
  margin-left: 0px;
  position: absolute;
  right: 40px;
  top: 25px;
}
@media (min-width: 440px) {
  .our-works .container .our-works__row .works .works__btn button img {
    width: 12px;
    height: 12px;
  }
}
@media (min-width: 440px) {
  .our-works .container .our-works__row .mobile {
    width: 400px;
    padding-bottom: 60px;
  }
}
@media (min-width: 760px) {
  .our-works .container .our-works__row .mobile {
    width: 33.333333%;
  }
}
@media (min-width: 1280px) {
  .our-works .container .our-works__row .mobile {
    width: 240px;
    padding: 0;
  }
}
@media (min-width: 1920px) {
  .our-works .container .our-works__row .mobile {
    width: 410px;
    margin-right: 20px;
  }
}
@media (min-width: 440px) {
  .our-works .container .our-works__row .mobile .mobile__image img {
    width: 400px;
  }
}
@media (min-width: 768px) {
  .our-works .container .our-works__row .mobile .mobile__image img {
    width: 220px;
  }
}
@media (min-width: 1920px) {
  .our-works .container .our-works__row .mobile .mobile__image img {
    width: 410px;
  }
}
@media (min-width: 440px) {
  .our-works .container .our-works__row .univer {
    width: 400px;
    padding-bottom: 60px;
  }
}
@media (min-width: 760px) {
  .our-works .container .our-works__row .univer {
    width: 33.333333%;
  }
}
@media (min-width: 1280px) {
  .our-works .container .our-works__row .univer {
    width: 240px;
    padding: 0;
  }
}
@media (min-width: 1920px) {
  .our-works .container .our-works__row .univer {
    width: 410px;
    margin-right: 20px;
  }
}
@media (min-width: 440px) {
  .our-works .container .our-works__row .univer .univer__image img {
    width: 400px;
  }
}
@media (min-width: 768px) {
  .our-works .container .our-works__row .univer .univer__image img {
    width: 220px;
  }
}
@media (min-width: 1920px) {
  .our-works .container .our-works__row .univer .univer__image img {
    width: 410px;
  }
}
@media (min-width: 440px) {
  .our-works .container .our-works__row .learning {
    width: 400px;
    padding-bottom: 80px;
  }
}
@media (min-width: 760px) {
  .our-works .container .our-works__row .learning {
    width: 33.333333%;
  }
}
@media (min-width: 1280px) {
  .our-works .container .our-works__row .learning {
    width: 240px;
    padding: 0;
  }
}
@media (min-width: 1920px) {
  .our-works .container .our-works__row .learning {
    width: 410px;
  }
}
@media (min-width: 440px) {
  .our-works .container .our-works__row .learning .learning__image img {
    width: 400px;
  }
}
@media (min-width: 768px) {
  .our-works .container .our-works__row .learning .learning__image img {
    width: 220px;
  }
}
@media (min-width: 1920px) {
  .our-works .container .our-works__row .learning .learning__image img {
    width: 410px;
  }
}
.our-works .container .mobile__image,
.our-works .container .univer__image,
.our-works .container .learning__image {
  margin-bottom: 40px;
}
.our-works .container .mobile__title,
.our-works .container .univer__title,
.our-works .container .learning__title {
  margin-bottom: 18px;
}
@media (min-width: 768px) {
  .our-works .container .mobile__text,
.our-works .container .univer__text,
.our-works .container .learning__text {
    display: none;
  }
}
@media (min-width: 1280px) {
  .our-works .container .mobile__text,
.our-works .container .univer__text,
.our-works .container .learning__text {
    display: none;
  }
}
@media (min-width: 1920px) {
  .our-works .container .mobile__text,
.our-works .container .univer__text,
.our-works .container .learning__text {
    display: block;
  }
}
.our-works .container h3 {
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #000;
  margin: 0;
}
.our-works .container p {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.01em;
  color: #000;
}

.technology {
  background-color: #000;
  color: #FFFFFF;
}
@media (min-width: 440px) {
  .technology {
    width: 440px;
  }
}
@media (min-width: 768px) {
  .technology {
    width: 768px;
  }
}
@media (min-width: 1280px) {
  .technology {
    width: 1280px;
  }
}
@media (min-width: 1920px) {
  .technology {
    width: 1920px;
  }
}
.technology .container .technology__row {
  display: flex;
}
@media (min-width: 440px) {
  .technology .container .technology__row {
    flex-direction: column;
  }
}
@media (min-width: 1280px) {
  .technology .container .technology__row {
    flex-direction: row;
  }
}
@media (min-width: 440px) {
  .technology .container .technology__row .technology__stages {
    padding: 80px 114px 60px 20px;
    margin: 0;
  }
}
@media (min-width: 768px) {
  .technology .container .technology__row .technology__stages {
    padding: 95.63px 428px 60px 34px;
  }
}
@media (min-width: 1280px) {
  .technology .container .technology__row .technology__stages {
    padding: 160px 91px 0 50px;
  }
}
@media (min-width: 1920px) {
  .technology .container .technology__row .technology__stages {
    padding: 160px 0 0 70px;
    width: 395px;
    margin-right: 317px;
  }
}
@media (min-width: 440px) {
  .technology .container .technology__row .technology__stages .technology__stages_title {
    margin-bottom: 20px;
  }
}
@media (min-width: 1920px) {
  .technology .container .technology__row .technology__stages .technology__stages_title {
    margin-bottom: 30px;
  }
}
.technology .container .technology__row .technology__stages .technology__stages_title h2 {
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin: 0;
}
@media (min-width: 440px) {
  .technology .container .technology__row .technology__stages .technology__stages_title h2 {
    font-size: 24px;
  }
}
@media (min-width: 1280px) {
  .technology .container .technology__row .technology__stages .technology__stages_title h2 {
    font-size: 40px;
  }
}
.technology .container .technology__row .technology__stages .technology__stages_text p {
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.01em;
  margin: 0;
}
@media (min-width: 440px) {
  .technology .container .technology__row .technology__stages .technology__stages_text p {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .technology .container .technology__row .technology__stages .technology__stages_text p {
    padding-right: 80px;
  }
}
@media (min-width: 1280px) {
  .technology .container .technology__row .technology__stages .technology__stages_text p {
    font-size: 24px;
    padding-right: 55px;
  }
}
@media (min-width: 440px) {
  .technology .container .technology__row .technology__inform {
    padding: 0 20px 80px 20px;
  }
}
@media (min-width: 1280px) {
  .technology .container .technology__row .technology__inform {
    padding: 160px 50px 160px 0px;
  }
}
@media (min-width: 1920px) {
  .technology .container .technology__row .technology__inform {
    padding: 160px 70px 160px 0px;
  }
}
@media (min-width: 440px) {
  .technology .container .technology__row .technology__inform .technology__stage {
    padding: 0px;
  }
}
.technology .container .technology__row .technology__inform .technology__stage .stage {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
}
@media (min-width: 440px) {
  .technology .container .technology__row .technology__inform .technology__stage .stage {
    width: 400px;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .technology .container .technology__row .technology__inform .technology__stage .stage {
    width: 700px;
  }
}
@media (min-width: 1920px) {
  .technology .container .technology__row .technology__inform .technology__stage .stage {
    width: 1068px;
    height: 132px;
  }
}
.technology .container .technology__row .technology__inform .technology__stage .stage .number {
  margin-right: 60px;
}
@media (min-width: 440px) {
  .technology .container .technology__row .technology__inform .technology__stage .stage .number {
    margin-right: 40px;
  }
}
@media (min-width: 1280px) {
  .technology .container .technology__row .technology__inform .technology__stage .stage .number {
    margin-right: 60px;
  }
}
.technology .container .technology__row .technology__inform .technology__stage .stage .number h2 {
  font-weight: 300;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}
@media (min-width: 440px) {
  .technology .container .technology__row .technology__inform .technology__stage .stage .number h2 {
    font-size: 36px;
  }
}
@media (min-width: 1280px) {
  .technology .container .technology__row .technology__inform .technology__stage .stage .number h2 {
    font-size: 48px;
  }
}
.technology .container .technology__row .technology__inform .technology__stage .stage .number h2:hover {
  color: #F6523C;
}
.technology .container .technology__row .technology__inform .technology__stage .stage p {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (min-width: 440px) {
  .technology .container .technology__row .technology__inform .technology__stage .stage p {
    font-size: 18px;
    margin: 35px 0;
  }
}
@media (min-width: 768px) {
  .technology .container .technology__row .technology__inform .technology__stage .stage p {
    margin: 32px 0;
  }
}
@media (min-width: 1280px) {
  .technology .container .technology__row .technology__inform .technology__stage .stage p {
    font-size: 20px;
    margin: 35px 0;
  }
}

.blog {
  background-color: #F5F5F5;
}
@media (min-width: 440px) {
  .blog {
    height: 100%;
    width: 440px;
  }
}
@media (min-width: 768px) {
  .blog {
    width: 768px;
  }
}
@media (min-width: 1280px) {
  .blog {
    width: 1280px;
  }
}
@media (min-width: 1920px) {
  .blog {
    width: 1920px;
  }
}
.blog .container .blog__row {
  display: flex;
}
@media (min-width: 440px) {
  .blog .container .blog__row {
    flex-direction: column;
    padding: 80px 20px;
  }
}
@media (min-width: 768px) {
  .blog .container .blog__row {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 80px 34px;
  }
}
@media (min-width: 1280px) {
  .blog .container .blog__row {
    flex-wrap: nowrap;
    padding: 160px 50px;
  }
}
@media (min-width: 1920px) {
  .blog .container .blog__row {
    padding: 160px 70px;
  }
}
@media (min-width: 440px) {
  .blog .container .blog__row .blog__block {
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .blog .container .blog__row .blog__block {
    width: 297px;
    margin-right: 93px;
  }
}
@media (min-width: 1920px) {
  .blog .container .blog__row .blog__block {
    width: 25%;
  }
}
@media (min-width: 440px) {
  .blog .container .blog__row .blog__block .blog__title {
    margin-bottom: 20px;
  }
}
@media (min-width: 1280px) {
  .blog .container .blog__row .blog__block .blog__title {
    margin-bottom: 30px;
  }
}
@media (min-width: 1920px) {
  .blog .container .blog__row .blog__block .blog__title {
    margin-bottom: 30px;
  }
}
.blog .container .blog__row .blog__block .blog__title h2 {
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #000;
  margin: 0;
}
@media (min-width: 440px) {
  .blog .container .blog__row .blog__block .blog__title h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
  }
}
@media (min-width: 1280px) {
  .blog .container .blog__row .blog__block .blog__title h2 {
    font-size: 40px;
  }
}
@media (min-width: 440px) {
  .blog .container .blog__row .blog__block .blog__text {
    margin-bottom: 20px;
  }
}
@media (min-width: 1280px) {
  .blog .container .blog__row .blog__block .blog__text {
    margin-bottom: 30px;
  }
}
.blog .container .blog__row .blog__block .blog__text p {
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #000;
  padding-right: 100px;
}
@media (min-width: 440px) {
  .blog .container .blog__row .blog__block .blog__text p {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .blog .container .blog__row .blog__block .blog__text p {
    padding-right: 380px;
  }
}
@media (min-width: 1280px) {
  .blog .container .blog__row .blog__block .blog__text p {
    font-size: 24px;
    padding: 0;
  }
}
@media (min-width: 440px) {
  .blog .container .blog__row .blog__block .blog__btn {
    padding-bottom: 60px;
  }
}
.blog .container .blog__row .blog__block .blog__btn button {
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.01em;
  position: relative;
  text-align: start;
  padding-left: 40px;
  cursor: pointer;
}
@media (min-width: 440px) {
  .blog .container .blog__row .blog__block .blog__btn button {
    height: 61px;
    width: 238px;
    padding-left: 35px;
  }
}
@media (min-width: 1280px) {
  .blog .container .blog__row .blog__block .blog__btn button {
    width: 278px;
    height: 66px;
  }
}
.blog .container .blog__row .blog__block .blog__btn button:hover {
  color: #FFFFFF;
  background-color: #F6523C;
  border: 1px solid #F6523C;
}
.blog .container .blog__row .blog__block .blog__btn button img {
  margin-left: 0px;
  position: absolute;
  right: 40px;
  top: 25px;
}
@media (min-width: 440px) {
  .blog .container .blog__row .blog__block .blog__btn button img {
    height: 12px;
    width: 12px;
  }
}
.blog .container .blog__row .results {
  background-color: #FFFFFF;
  margin-right: 20px;
}
@media (min-width: 440px) {
  .blog .container .blog__row .results {
    width: 100%;
    margin-bottom: 40px;
  }
}
@media (min-width: 768px) {
  .blog .container .blog__row .results {
    width: 220px;
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .blog .container .blog__row .results {
    width: 250px;
  }
}
@media (min-width: 1920px) {
  .blog .container .blog__row .results {
    width: 25%;
  }
}
@media (min-width: 768px) {
  .blog .container .blog__row .results img {
    width: 170px;
    height: 170px;
  }
}
@media (min-width: 1920px) {
  .blog .container .blog__row .results img {
    width: 190px;
    height: 190px;
  }
}
.blog .container .blog__row .results .results__text {
  font-weight: 400;
  line-height: 150%;
}
@media (min-width: 440px) {
  .blog .container .blog__row .results .results__text p {
    padding: 0 37px 106px 35px;
    margin: 0;
  }
}
@media (min-width: 760px) {
  .blog .container .blog__row .results .results__text p {
    display: none;
  }
}
@media (min-width: 1920px) {
  .blog .container .blog__row .results .results__text p {
    padding: 0 50px 106px;
    display: block;
    font-size: 16px;
  }
}
.blog .container .blog__row .market {
  background-color: #FFFFFF;
}
@media (min-width: 440px) {
  .blog .container .blog__row .market {
    width: 100%;
    margin-bottom: 40px;
  }
}
@media (min-width: 1280px) and (min-width: 1280px) {
  .blog .container .blog__row .market {
    width: 250px;
  }
}
@media (min-width: 760px) {
  .blog .container .blog__row .market {
    width: 220px;
    margin: 0;
    order: 2;
  }
}
@media (min-width: 1920px) {
  .blog .container .blog__row .market {
    width: 25%;
    margin-right: 20px;
    order: 1;
  }
}
@media (min-width: 768px) {
  .blog .container .blog__row .market img {
    width: 170px;
    height: 170px;
  }
}
@media (min-width: 1920px) {
  .blog .container .blog__row .market img {
    width: 170px;
    height: 170px;
  }
}
@media (min-width: 1920px) {
  .blog .container .blog__row .market img {
    width: 190px;
    height: 190px;
  }
}
.blog .container .blog__row .market .market__text p {
  font-weight: 400;
  line-height: 150%;
}
@media (min-width: 440px) {
  .blog .container .blog__row .market .market__text p {
    padding: 0 37px 130px 35px;
  }
}
@media (min-width: 760px) {
  .blog .container .blog__row .market .market__text p {
    display: none;
  }
}
@media (min-width: 1920px) {
  .blog .container .blog__row .market .market__text p {
    display: block;
    padding: 0 50px;
    font-size: 16px;
  }
}
.blog .container .blog__row .cloud {
  background-color: #FFFFFF;
}
@media (min-width: 440px) {
  .blog .container .blog__row .cloud {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .blog .container .blog__row .cloud {
    width: 220px;
    margin: 0 20px 0 0;
    order: 1;
  }
}
@media (min-width: 1280px) and (min-width: 1280px) {
  .blog .container .blog__row .cloud {
    width: 250px;
  }
}
@media (min-width: 1920px) {
  .blog .container .blog__row .cloud {
    width: 25%;
  }
}
.blog .container .blog__row .cloud__text {
  font-weight: 400;
  line-height: 150%;
}
@media (min-width: 440px) {
  .blog .container .blog__row .cloud__text p {
    padding: 0 37px 80px 35px;
  }
}
@media (min-width: 760px) {
  .blog .container .blog__row .cloud__text p {
    display: none;
  }
}
@media (min-width: 1920px) {
  .blog .container .blog__row .cloud__text p {
    display: block;
    padding: 0 50px;
    font-size: 16px;
  }
}
@media (min-width: 440px) {
  .blog .results__image,
.blog .market__image,
.blog .cloud__image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 80px 0 30px 0;
  }
}
@media (min-width: 768px) {
  .blog .results__image,
.blog .market__image,
.blog .cloud__image {
    margin: 40px 0 20px 0;
  }
}
.blog .results__image h3,
.blog .market__image h3,
.blog .cloud__image h3 {
  margin: 80px 120px 30px 120px;
}
@media (min-width: 768px) {
  .blog .results__image h3,
.blog .market__image h3,
.blog .cloud__image h3 {
    margin: 40px 25px 20px 25px;
  }
}
.blog .results__title,
.blog .market__title,
.blog .cloud__title {
  padding: 0 50px 18px;
}
@media (min-width: 440px) {
  .blog .results__title,
.blog .market__title,
.blog .cloud__title {
    padding: 0 37px 18px 35px;
  }
}
.blog a {
  text-decoration: none;
}
.blog h3 {
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #000;
  margin: 0;
  font-size: 20px;
}
.blog h3:hover {
  color: #F6523C;
}

@media (min-width: 440px) {
  .contactes {
    width: 440px;
  }
}
@media (min-width: 768px) {
  .contactes {
    width: 768px;
  }
}
@media (min-width: 1280px) {
  .contactes {
    width: 1280px;
  }
}
@media (min-width: 1920px) {
  .contactes {
    width: 1920px;
  }
}
.contactes .contactes__row {
  display: flex;
}
@media (min-width: 440px) {
  .contactes .contactes__row {
    flex-direction: column;
  }
}
@media (min-width: 1280px) {
  .contactes .contactes__row {
    flex-direction: row;
  }
}
@media (min-width: 440px) {
  .contactes .contactes__row .contact__block {
    padding: 80px 76px 60px 20px;
  }
}
@media (min-width: 768px) {
  .contactes .contactes__row .contact__block {
    padding: 108.5px 390px 29px 32px;
  }
}
@media (min-width: 1280px) {
  .contactes .contactes__row .contact__block {
    padding: 160px 140px 0 50px;
  }
}
@media (min-width: 1920px) {
  .contactes .contactes__row .contact__block {
    padding: 160px 290px 74px 70px;
  }
}
.contactes .contactes__row .contact__block .contact__block_title {
  margin-bottom: 30px;
}
@media (min-width: 1280px) {
  .contactes .contactes__row .contact__block .contact__block_title {
    width: 425px;
  }
}
.contactes .contactes__row .contact__block .contact__block_title h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 140%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #000;
  margin: 0px;
}
.contactes .contactes__row .contact__block .contact__block_title h2 span {
  color: #F6523C;
}
@media (min-width: 440px) {
  .contactes .contactes__row .contact__block .contact__block_title h2 {
    font-size: 24px;
  }
}
@media (min-width: 1920px) {
  .contactes .contactes__row .contact__block .contact__block_title h2 {
    font-size: 40px;
  }
}
.contactes .contactes__row .contact__block .contact__block_phone {
  display: flex;
  margin-bottom: 18px;
}
.contactes .contactes__row .contact__block .contact__block_phone .phone_icon {
  background-image: url(../img/phone.png);
  width: 30px;
  height: 30px;
  margin-right: 30px;
}
.contactes .contactes__row .contact__block .contact__block_phone a {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}
@media (min-width: 440px) {
  .contactes .contactes__row .contact__block .contact__block_phone a {
    font-size: 20px;
    line-height: 25px;
  }
}
@media (min-width: 1280px) {
  .contactes .contactes__row .contact__block .contact__block_phone a {
    font-size: 24px;
  }
}
.contactes .contactes__row .contact__block .contact__block_address {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}
.contactes .contactes__row .contact__block .contact__block_address .address_icon {
  background-image: url(../img/Group.png);
  width: 30px;
  height: 30px;
  margin-right: 30px;
  background-repeat: no-repeat;
}
.contactes .contactes__row .contact__block .contact__block_address address {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #000;
}
@media (min-width: 440px) {
  .contactes .contactes__row .contact__block .contact__block_address address {
    font-size: 20px;
  }
}
.contactes .contactes__row .contact__block .contact__block_email {
  display: flex;
}
.contactes .contactes__row .contact__block .contact__block_email .email_icon {
  background-image: url(../img/mail.png);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  margin-right: 30px;
}
.contactes .contactes__row .contact__block .contact__block_email a {
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000;
}
@media (min-width: 440px) {
  .contactes .contactes__row .contact__block .contact__block_email a {
    font-size: 20px;
    line-height: 25px;
  }
}
@media (min-width: 1280px) {
  .contactes .contactes__row .contact__block .contact__block_email a {
    font-size: 24px;
  }
}
.contactes .contactes__row .contact__form {
  border: 1px solid #DFDFDF;
}
@media (min-width: 440px) {
  .contactes .contactes__row .contact__form {
    width: 440px;
    border: 0;
    margin: 0 20px 80px 20px;
  }
}
@media (min-width: 768px) {
  .contactes .contactes__row .contact__form {
    margin: 0 34px 116px 34px;
    border: 1px solid #DFDFDF;
    width: 700px;
    height: auto;
  }
}
@media (min-width: 1280px) {
  .contactes .contactes__row .contact__form {
    margin: 160px 50px 160px 0;
    width: 618px;
  }
}
@media (min-width: 1920px) {
  .contactes .contactes__row .contact__form {
    width: 1060px;
    height: 660px;
    margin: 160px 70px 160px 0;
  }
}
.contactes .contactes__row .contact__form p {
  display: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  padding-top: 5px;
}
@media (min-width: 440px) {
  .contactes .contactes__row .contact__form p {
    margin: 0;
    padding-top: 5px;
  }
}
@media (min-width: 768px) {
  .contactes .contactes__row .contact__form p {
    margin: 0;
    padding-top: 10px;
  }
}
@media (min-width: 1280px) {
  .contactes .contactes__row .contact__form p {
    padding-top: 5px;
  }
}
@media (min-width: 1280px) {
  .contactes .contactes__row .contact__form p {
    font-size: 14px;
  }
}
.contactes .contactes__row .contact__form .contact__row {
  display: flex;
}
@media (min-width: 440px) {
  .contactes .contactes__row .contact__form .contact__row {
    flex-direction: column;
    margin: 0;
  }
}
@media (min-width: 768px) {
  .contactes .contactes__row .contact__form .contact__row:first-child {
    margin: 70px 100px 0 100px;
  }
  .contactes .contactes__row .contact__form .contact__row:nth-child(2n) {
    margin: 0 100px 0px 100px;
  }
}
@media (min-width: 1920px) {
  .contactes .contactes__row .contact__form .contact__row {
    flex-direction: row;
  }
  .contactes .contactes__row .contact__form .contact__row:first-child {
    margin: 90px 120px 0 120px;
  }
  .contactes .contactes__row .contact__form .contact__row:nth-child(2n) {
    margin: 0 120px 0px 120px;
  }
}
.contactes .contactes__row .contact__form .contact__row input {
  padding-top: 19px;
  border: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #929292;
}
@media (min-width: 440px) {
  .contactes .contactes__row .contact__form .contact__row input {
    width: 400px;
  }
}
@media (min-width: 768px) {
  .contactes .contactes__row .contact__form .contact__row input {
    padding-top: 20px;
    font-size: 14px;
  }
}
@media (min-width: 1280px) {
  .contactes .contactes__row .contact__form .contact__row input {
    padding-top: 28px;
  }
}
@media (min-width: 1920px) {
  .contactes .contactes__row .contact__form .contact__row input {
    font-size: 16px;
  }
}
.contactes .contactes__row .contact__form .contact__row input:focus {
  outline: none;
  color: #000;
}
.contactes .contactes__row .contact__form .contact__row input:hover ~ p {
  display: inline-block;
  color: #F6523C;
}
.contactes .contactes__row .contact__form .contact__row .name,
.contactes .contactes__row .contact__form .contact__row .phone,
.contactes .contactes__row .contact__form .contact__row .surname,
.contactes .contactes__row .contact__form .contact__row .email {
  border-bottom: 1px solid #DFDFDF;
}
@media (min-width: 440px) {
  .contactes .contactes__row .contact__form .contact__row .name,
.contactes .contactes__row .contact__form .contact__row .phone,
.contactes .contactes__row .contact__form .contact__row .surname,
.contactes .contactes__row .contact__form .contact__row .email {
    width: 400px;
    margin: 0 0 30px 0;
    height: 41px;
  }
}
@media (min-width: 768px) {
  .contactes .contactes__row .contact__form .contact__row .name,
.contactes .contactes__row .contact__form .contact__row .phone,
.contactes .contactes__row .contact__form .contact__row .surname,
.contactes .contactes__row .contact__form .contact__row .email {
    width: 500px;
    height: 40px;
    margin-bottom: 40px;
  }
}
@media (min-width: 1280px) {
  .contactes .contactes__row .contact__form .contact__row .name,
.contactes .contactes__row .contact__form .contact__row .phone,
.contactes .contactes__row .contact__form .contact__row .surname,
.contactes .contactes__row .contact__form .contact__row .email {
    width: 418px;
  }
}
@media (min-width: 1290px) {
  .contactes .contactes__row .contact__form .contact__row .name,
.contactes .contactes__row .contact__form .contact__row .phone,
.contactes .contactes__row .contact__form .contact__row .surname,
.contactes .contactes__row .contact__form .contact__row .email {
    width: 359px;
    height: 49px;
    margin-right: 102px;
    flex-direction: row;
  }
}
@media (min-width: 1920px) {
  .contactes .contactes__row .contact__form .contact__row .name,
.contactes .contactes__row .contact__form .contact__row .phone,
.contactes .contactes__row .contact__form .contact__row .surname,
.contactes .contactes__row .contact__form .contact__row .email {
    display: flex;
    flex-direction: column;
  }
}
.contactes .contactes__row .contact__message {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .contactes .contactes__row .contact__message {
    margin: 0 100px 70px 100px;
  }
}
@media (min-width: 1920px) {
  .contactes .contactes__row .contact__message {
    margin: 0 120px 90px 120px;
  }
}
.contactes .contactes__row .contact__message .message {
  border-bottom: 1px solid #DFDFDF;
  display: flex;
  flex-direction: column;
}
@media (min-width: 440px) {
  .contactes .contactes__row .contact__message .message {
    margin: 0 0 30px 0;
    width: 400px;
    height: 41px;
  }
}
@media (min-width: 768px) {
  .contactes .contactes__row .contact__message .message {
    width: 500px;
    margin-bottom: 74.5px;
  }
}
@media (min-width: 1280px) {
  .contactes .contactes__row .contact__message .message {
    width: 418px;
    margin-bottom: 40px;
  }
}
@media (min-width: 1920px) {
  .contactes .contactes__row .contact__message .message {
    width: 820px;
    height: 49px;
    margin-bottom: 60px;
  }
}
.contactes .contactes__row .contact__message .message input {
  padding-top: 19px;
  border: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #929292;
}
.contactes .contactes__row .contact__message .message input:focus {
  outline: none;
}
.contactes .contactes__row .contact__message .message input:hover ~ p {
  display: inline-block;
  color: #F6523C;
}
.contactes .contactes__row .contact__message .confidentiality {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
@media (min-width: 440px) {
  .contactes .contactes__row .contact__message .confidentiality {
    align-items: flex-start;
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .contactes .contactes__row .contact__message .confidentiality {
    margin-bottom: 5px;
  }
}
@media (min-width: 1280px) {
  .contactes .contactes__row .contact__message .confidentiality {
    margin-bottom: 40px;
  }
}
@media (min-width: 1920px) {
  .contactes .contactes__row .contact__message .confidentiality {
    margin-bottom: 60px;
  }
}
.contactes .contactes__row .contact__message .confidentiality label {
  display: flex;
}
.contactes .contactes__row .contact__message .confidentiality input {
  width: 26px;
  height: 18px;
  margin: 0px 18px 10px 120px;
}
@media (min-width: 440px) {
  .contactes .contactes__row .contact__message .confidentiality input {
    margin: 0 18px 0 0;
  }
}
.contactes .contactes__row .contact__message .confidentiality p {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.01em;
  color: #929292;
  padding-right: 135px;
  margin: 0;
}
@media (min-width: 440px) {
  .contactes .contactes__row .contact__message .confidentiality p {
    padding: 0 46px 0 0;
  }
}
@media (min-width: 768px) {
  .contactes .contactes__row .contact__message .confidentiality p {
    padding-right: 65px;
  }
}
@media (min-width: 1920px) {
  .contactes .contactes__row .contact__message .confidentiality p {
    padding: 0;
  }
}
.contactes .contactes__row .contact__message .confidentiality span {
  color: #F6523C;
}
.contactes .contactes__row .contact__message .contact__btn {
  display: flex;
  justify-content: end;
  margin: 0 120px 90px 0;
}
@media (min-width: 440px) {
  .contactes .contactes__row .contact__message .contact__btn {
    margin: 0;
    width: 400px;
  }
}
@media (min-width: 768px) {
  .contactes .contactes__row .contact__message .contact__btn {
    width: 500px;
  }
}
@media (min-width: 1280px) {
  .contactes .contactes__row .contact__message .contact__btn {
    width: 418px;
  }
}
@media (min-width: 1920px) {
  .contactes .contactes__row .contact__message .contact__btn {
    width: 820px;
  }
}
.contactes .contactes__row .contact__message .contact__btn button {
  width: 224px;
  height: 57px;
  border: 0px;
  background-color: #F6523C;
  color: #FFFFFF;
  cursor: pointer;
  padding: 0;
}
@media (min-width: 440px) {
  .contactes .contactes__row .contact__message .contact__btn button {
    width: 164px;
    height: 56px;
  }
}
@media (min-width: 1920px) {
  .contactes .contactes__row .contact__message .contact__btn button {
    width: 224px;
    height: 57px;
  }
}

.footer {
  background-color: #000;
  height: 655px;
  color: #FFFFFF;
}
@media (min-width: 440px) {
  .footer {
    width: 440px;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .footer {
    width: 768px;
    height: 556px;
  }
}
@media (min-width: 1280px) {
  .footer {
    width: 1280px;
    height: 615px;
  }
}
@media (min-width: 1920px) {
  .footer {
    width: 1920px;
    height: 655px;
  }
}
.footer .container .footer__row {
  display: flex;
}
@media (min-width: 440px) {
  .footer .container .footer__row {
    flex-wrap: wrap;
    padding: 60px 20px 85px 20px;
  }
}
@media (min-width: 768px) {
  .footer .container .footer__row {
    padding: 80px 34px 80px 34px;
  }
}
@media (min-width: 1280px) {
  .footer .container .footer__row {
    padding: 57.5px 50px 120px 50px;
  }
}
@media (min-width: 1920px) {
  .footer .container .footer__row {
    padding: 70px 178px 160px 70px;
  }
}
.footer .container h3 {
  margin: 0;
  font-weight: 400;
  line-height: 33px;
  text-transform: uppercase;
  margin-bottom: 44px;
}
@media (min-width: 440px) {
  .footer .container h3 {
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1280px) {
  .footer .container h3 {
    font-size: 24px;
    margin-bottom: 44px;
    line-height: 33px;
  }
}
.footer .container ul {
  list-style: none;
  padding: 0;
}
.footer .container li:not(:last-child) {
  margin-bottom: 32px;
}
@media (min-width: 440px) {
  .footer .container li:not(:last-child) {
    margin-bottom: 20px;
  }
  .footer .container li:not(:last-child) li:nth-child(2n+1) {
    display: none;
  }
}
.footer .container a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 400;
  line-height: 23px;
}
.footer .container a:hover {
  color: #F6523C;
}
@media (min-width: 440px) {
  .footer .container a {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1280px) {
  .footer .container a {
    font-size: 18px;
  }
}
@media (min-width: 440px) {
  .footer .container .footer__logo {
    display: none;
  }
}
@media (min-width: 1280px) {
  .footer .container .footer__logo {
    display: block;
    margin-right: 107px;
  }
}
@media (min-width: 1920px) {
  .footer .container .footer__logo {
    margin-right: 206px;
  }
}
@media (min-width: 1280px) {
  .footer .container .footer__logo img {
    height: 40px;
    width: 112px;
  }
}
@media (min-width: 440px) {
  .footer .container .footer__company {
    width: 50%;
    margin: 0;
  }
}
@media (min-width: 768px) {
  .footer .container .footer__company {
    width: 142px;
    margin-right: 69px;
  }
}
@media (min-width: 1280px) {
  .footer .container .footer__company {
    width: 170px;
    margin-right: 85px;
  }
}
@media (min-width: 1920px) {
  .footer .container .footer__company {
    margin-right: 122px;
  }
}
.footer .container .footer__services a {
  text-transform: uppercase;
}
@media (min-width: 440px) {
  .footer .container .footer__services {
    width: 50%;
    margin: 0 0 60px 0;
  }
}
@media (min-width: 768px) {
  .footer .container .footer__services {
    width: 188px;
    margin-right: 69px;
  }
}
@media (min-width: 1280px) {
  .footer .container .footer__services {
    width: 270px;
    margin-right: 95px;
  }
}
@media (min-width: 1920px) {
  .footer .container .footer__services {
    margin-right: 451px;
  }
}
@media (min-width: 768px) {
  .footer .container .footer__contact {
    width: 232px;
  }
}
@media (min-width: 1280px) {
  .footer .container .footer__contact {
    width: 340px;
  }
}
.footer .container .footer__contact .footer__phone {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}
.footer .container .footer__contact .footer__phone .phone_icon {
  background-image: url(../img/bi_phone.png);
  width: 30px;
  height: 30px;
  margin-right: 30px;
}
.footer .container .footer__contact .footer__address {
  display: flex;
  margin-bottom: 18px;
}
.footer .container .footer__contact .footer__address .address_icon {
  background-image: url(../img/bi_pin-map.png);
  width: 30px;
  height: 30px;
  margin-right: 30px;
}
.footer .container .footer__contact .footer__email {
  display: flex;
  margin-bottom: 57px;
}
.footer .container .footer__contact .footer__email .email_icon {
  background-image: url(../img/eva_email-outline.png);
  width: 30px;
  height: 30px;
  margin-right: 30px;
}
.footer .container .footer__socials {
  display: flex;
}
.footer .container .footer__socials .footer__socials_icon {
  width: 40px;
  height: 40px;
  margin-right: 24px;
}
.footer .container .copyright {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  margin: 40px;
  margin-top: 30px;
}
@media (min-width: 440px) {
  .footer .container .copyright {
    font-size: 16px;
    line-height: 150%;
    margin-left: 20px;
    text-align: start;
    padding: 25px 0 25px 20px;
    margin: 0;
  }
}
@media (min-width: 768px) {
  .footer .container .copyright {
    display: none;
  }
}
@media (min-width: 1280px) {
  .footer .container .copyright {
    display: block;
    text-align: center;
    padding: 0;
  }
}
.footer .container .copyright p {
  margin: 0;
}
@media (min-width: 1280px) {
  .footer .container .copyright p {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
  }
}/*# sourceMappingURL=style.css.map */