.contactes {

    .contactes__row {
        display: flex;

        .contact__block {
            padding: 160px 290px 74px 70px;

            .contact__block_title {
                margin-bottom: 30px;

                h2 {
                    font-weight: 600;
                    font-size: 40px;
                    line-height: 140%;
                    letter-spacing: 0.01em;
                    text-transform: uppercase;
                    color: $black;
                    margin: 0px;

                    span {
                        color: $red;
                    }
                }
            }

            .contact__block_phone {
                display: flex;
                margin-bottom: 18px;

                .phone_icon {
                    background-image: url(../img/phone.png);
                    width: 30px;
                    height: 30px;
                    margin-right: 30px;
                }

                a {
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 30px;
                    text-transform: uppercase;
                    color: $black;
                    text-decoration: none;
                }
            }

            .contact__block_address {
                display: flex;
                align-items: center;
                margin-bottom: 18px;

                .address_icon {
                    background-image: url(../img/Group.png);
                    width: 30px;
                    height: 30px;
                    margin-right: 30px;
                    background-repeat: no-repeat;
                }

                address {
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 140%;
                    color: $black;
                }
            }

            .contact__block_email {
                display: flex;

                .email_icon {
                    background-image: url(../img/mail.png);
                    width: 30px;
                    height: 30px;
                    background-repeat: no-repeat;
                    margin-right: 30px;
                }

                a {
                    text-decoration: none;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 30px;
                    color: $black;
                }
            }


        }

        .contact__form {
            width: 1060px;
            height: 660px;
            margin: 160px 70px 160px 0;
            border: 1px solid$grey;

            p {
                display: none;
                font-weight: 400;
                font-size: 12px;
                line-height: 130%;
                padding-top: 5px;
            }

            .contact__row {
                display: flex;
                margin: 60px 0 0 120px;

                input {
                    padding-top: 19px;
                    border: 0px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 130%;
                    letter-spacing: 0.01em;
                    text-transform: uppercase;
                    color: #929292;

                    &:focus {
                        outline: none;
                        color: $black;
                    }

                    &:hover~p {
                        display: inline-block;
                        color: $red;
                    }

                }

                .name,
                .phone,
                .surname,
                .email {
                    width: 359px;
                    height: 49px;
                    margin-right: 102px;
                    border-bottom: 1px solid$grey;
                    display: flex;
                    flex-direction: column;


                }

            }
        }

        .contact__message {
            display: flex;
            flex-direction: column;

            .message {
                width: 820px;
                height: 49px;
                border-bottom: 1px solid$grey;
                margin: 60px 120px 60px 120px;
                display: flex;
                flex-direction: column;

                input {
                    padding-top: 19px;
                    border: 0px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 130%;
                    letter-spacing: 0.01em;
                    text-transform: uppercase;
                    color: #929292;

                    &:focus {
                        outline: none;
                    }

                    &:hover~p {
                        display: inline-block;
                        color: $red;
                    }
                }
            }

            .confidentiality {
                display: flex;
                align-items: center;
                margin-bottom: 60px;

                input {
                    width: 18px;
                    height: 18px;
                    margin: 0px 18px 10px 120px;

                }

                p {
                    display: block;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 130%;
                    letter-spacing: 0.01em;
                    color: #929292;
                    padding-right: 135px;
                    margin: 0;
                }

                span {
                    color: $red;
                }
            }

            .contact__btn {
                display: flex;
                justify-content: end;
                margin: 0 120px 90px 0;

                button {
                    width: 224px;
                    height: 57px;
                    border: 0px;
                    background-color: $red;
                    color: $white;
                    cursor: pointer;
                    padding: 0;
                }
            }
        }
    }
}