.content {
    box-sizing: border-box;
    color: $black;

    .slogan {
        margin-left: 70.50px;

        @media (min-width:440px) {
            margin-left: 20px;
        }

        @media (min-width:1280px) {
            margin-left: 50px;
            margin-bottom: 20px;
        }

        h1 {
            font-style: normal;
            line-height: 120%;
            margin-bottom: 40px;
            font-weight: 800;

            @media (min-width:440px) {
                font-style: normal;
                font-weight: 800;
                font-size: 40px;
                line-height: 150%;
            }

        }
    }

    .content-row {
        display: flex;

        .subtitle {
            margin-left: 70px;

            @media (min-width:440px) {
                margin-left: 20px;
            }

            &__text {
                padding-bottom: 100px;

                @media(min-width: 440px) {
                       padding-bottom: 50px;
                    }

                p {
                    font-style: normal;
                    font-weight: 300;
                    font-size: 20px;
                    line-height: 160%;
                    padding-right: 170px;

                    @media (min-width:440px) {
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 160%;
                        padding-right: 50px;
                    }

                    @media(min-width: 1280px) {
                        padding-right: 390px;
                    }
                }
            }

            .subtitle__tabs {
                display: flex;
                justify-content: flex-start;
                height: 230px;

                @media(min-width:440px) {
                    flex-direction: column;
                    height: 100%;
                }

                @media(min-width:1280px) {
                    margin-bottom: 160px;
                }

                .subtitle__row {
                    margin-right: 135px;

                    ul {
                        display: flex;
                        list-style: none;
                        flex-direction: column;
                        padding: 0;

                        li {
                            margin-bottom: 33px;

                            a {
                                text-decoration: none;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 20px;
                                line-height: 25px;
                                text-transform: uppercase;
                                color: $black;

                                &:hover {
                                    color: $red;
                                }
                            }
                        }
                    }
                }

                .subtitle__content {
                    width: 480px;
                    border-left: 2px solid#000;

                    .subtitle__content_row {
                        padding-left: 42px;

                        .subtitle__icon {
                            background-image: url(../img/icon_header.png);
                            background-size: cover;
                            width: 103px;
                            height: 73px;
                            margin-bottom: 30px;

                        }

                        .subtitle__content_text {
                            margin-bottom: 15px;

                            @media(min-width: 440px){
                                display: none;
                            }

                            h3 {
                                font-style: normal;
                                font-weight: 600;
                                font-size: 22px;
                                line-height: 28px;
                                text-transform: uppercase;
                                color: $black;
                                margin: 0;

                            }
                        }

                        .subtitle__desc {

                            p {
                                margin: 0;
                                font-family: 'Mulish';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 20px;
                                line-height: 28px;
                                color: $black;

                                @media(min-width: 440px){
                                    padding-right: 60px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .image {
            margin-right: 70px;
            margin-bottom: 70px;

            @media (min-width:440px) {
                display: none;

                @media (min-width:1280px) {
                    display: none;
                }
            }
        }
    }
}