.technology {
    background-color: $black;
    color: $white;

    @media(min-width:440px) {
        width: 440px;
    }

    @media(min-width:768px) {
        width: 768px;
    }

    @media(min-width:1280px) {
        width: 1280px;
    }

    .container {

        .technology__row {
            display: flex;

            @media(min-width:440px) {
                flex-direction: column;
            }

            @media(min-width:1280px) {
                flex-direction: row;
            }

            .technology__stages {
                padding: 160px 0 0 70px;
                width: 395px;
                margin-right: 317px;

                @media(min-width:440px) {
                    padding: 80px 114px 60px 20px;
                    margin: 0;
                }

                @media(min-width:768px) {
                    padding: 95.63px 428px 60px 34px;

                }

                @media(min-width:1280px) {
                    padding: 160px 91px 0 50px;
                }

                .technology__stages_title {
                    margin-bottom: 30px;

                    @media(min-width:440px) {
                        margin-bottom: 20px;
                    }

                    h2 {
                        font-style: normal;
                        font-weight: 600;
                        line-height: 130%;
                        letter-spacing: 0.01em;
                        text-transform: uppercase;
                        margin: 0;

                        @media(min-width:440px) {
                            font-size: 24px;
                        }

                        @media(min-width: 1280px) {
                            font-size: 40px;
                        }
                    }
                }

                .technology__stages_text {

                    p {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 140%;
                        letter-spacing: 0.01em;
                        margin: 0;

                        @media(min-width:440px) {
                            font-size: 18px;
                        }

                        @media(min-width: 768px) {
                            padding-right: 110px;
                        }

                        @media(min-width: 1280px) {
                            font-size: 24px;
                            padding-right: 55px;
                        }
                    }
                }
            }

            .technology__inform {

                @media(min-width:440px) {
                    padding: 0 20px 80px 20px;
                }

                @media(min-width:1280px) {
                    padding: 160px 50px 160px 0px;
                }

                .technology__stage {
                    padding: 160px 70px 160px 0;

                    @media(min-width:440px) {
                        padding: 0px;
                    }


                    .stage {
                        display: flex;
                        align-items: center;
                        width: 1068px;
                        height: 132px;
                        border-bottom: 1px solid$white;
                        border-top: 1px solid$white;

                        @media(min-width:440px) {
                            width: 400px;
                            height: 100%;
                        }

                        @media(min-width:768px) {
                            width: 700px;

                        }

                        .number {
                            margin-right: 60px;

                            @media(min-width:440px) {
                                margin-right: 40px;
                            }

                            @media(min-width:1280px) {
                                margin-right: 60px;
                            }

                            h2 {
                                font-weight: 300;
                                font-size: 48px;
                                line-height: 130%;
                                letter-spacing: 0.01em;
                                text-transform: uppercase;

                                @media(min-width:440px) {
                                    font-size: 36px;
                                }

                                @media(min-width:1280px) {
                                    font-size: 48px;
                                }

                                &:hover {
                                    color: $red;
                                }
                            }
                        }

                        p {
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 140%;
                            letter-spacing: 0.01em;
                            text-transform: uppercase;
                            color: $white;

                            @media(min-width:440px) {
                                font-size: 18px;
                            }

                            @media(min-width: 1280px) {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}