.container {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.box {
    float: left;
    color: #fff;
    text-align: center;
    position: relative;
    margin: 5px;
    font-size: 40px;
    line-height: 100px;

}

.box:nth-child(2n) {
    background: #f00;
    width: 100%;
}

.box:nth-child(2n+1) {
    background: #00f;
    display: none;
}

@media (min-width: 768px) {
    .container {
        width: 768px;
    }

    .box:nth-child(2n+1) {
        display: block;
        width: calc(33.3333333% - 10px);
    }

    .box:nth-child(2n) {
        display: none;
    }

}

@media (min-width: 1280px) {
    .container {
        width: 1200px;
    }

    .box:nth-child(2n+1) {
        width: calc(16.6666666% - 10px);

    }

    .box:nth-child(2n) {
        display: block;
        width: calc(16.6666666% - 10px);
    }
}