.container{
    width: 550px;
    border: 2px solid#c6d1e8;
    background: #edf7f7;
    border-radius: 10px;
    margin: 0 auto;
    float: none;
   height: 500px;
   font-size: 14px;
   
}

div{
	position: relative;
	float: left;
	box-sizing: border-box;
}
.col-2{
    width: 50%;
}



.form-label{
    padding: 5px;
    width: 250px;
    text-align: right;

}

.form-control{
display: block;
float: left;
width: 250px;
text-align: left;
}